/*
---------------------------------------
Css Content Coloring
---------------------------------------
font-family: 'PT Sans', sans-serif;

text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF
*/

/*-------------------------------
Navigation Bar and Copy adjustments
-------------------------------*/
ul li, a{
  text-decoration: none;
  list-style-type: none;
}
ul.nav-row {
  margin: 0;
  padding: 0;
}

.nav-row {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #7DDFE8;
}

.nav-item a {
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
}

.nav-item {
  text-align: center;
  margin: 0;
  height: 33.333333%;
  padding:4%;
}

.home {
  background-color: #00A5BF;
}

.calendar {
  background-color: #00B7D3;
}

.join {
  background-color: #00D5E7;
}

.logo-nav-container{
  display: grid;
  grid-template-columns: 28% 72%;
}

.logo img {
  width:80%;
  padding: 10%;
}

.logo {
  background-color: #F5005B;
}
.copyright {
  color: #fff;
  font-size: 2.2em;
  text-align:center;
  padding: 10%;
  margin-bottom: 0;

}
footer {
  background-color: #7DDFE8;
  margin-bottom: 0;
}

/*------------------------------
Header Styling
------------------------------*/

.main-header {
  font-family: 'PT Sans', sans-serif;
  font-size: 3.3em;
  font-weight: lighter;
  padding: 1.5% 0% 1% 0;
}

.chapter-wrapper {
  background-color:#0B1942
}

.chapter {
  color:#FFFFFF;
  font-family: 'PT Sans', sans-serif;
  font-size: 3em;
  font-weight: lighter;
  padding: 2% 5%;
}

.month-header {
  font-family: 'PT Sans', sans-serif;
  font-size: 3.5em;
  color: #fff;
  font-weight: 200;
  padding:2% 0 2% 5%;
  margin-top: 1%;
}

/*------------------------------
Body Adjustments
-------------------------------*/

.main-article {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  font-size: 2.2em;
  font-family: 'PT Sans', sans-serif;
  color: #0B1942;
  line-height: 180%;
  font-weight: 600;
}
/*-----------------------------
Movie Wrapper & Text/Poster
-----------------------------*/
.movie-wrapper {
  background-color: #0B1942;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5%;
  padding-bottom: 10%;
}

.up-next {
  color: #fff;
  font-size: 4.2em;
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  padding-left: 3%;
}

.next-showcase {
  background-color: #E2E2E2;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5% 0;
}

.next-showcase img{
  margin: 5%;
}

.rashomon-aside, ul li, .movie-title, .rashomon-subheader{
  color: #0B1942;
  font-family: 'PT Sans', sans-serif;
  margin-top: 8%;
}

.rashomon-subheader{
  font-size: 2em;
  font-weight: bold;
}

hr{
  width: 90%;
  padding-left: 0;
  margin-left: 0;
  border: 1.5px solid #0B1942;
}

.discussion-points-list li{
  font-size: 2em;
  list-style-type: circle;
  margin-top: 5%;
  color: #0B1942;
  font-weight: 500;
}

.rashomon-poster {
  background-image: url('../images/rashomon-poster.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vw;
  margin:10%;
  margin-bottom: 25%;
}

.rashomon-header a {
  font-size: 3em;
  font-weight: lighter;
  padding-top: 10%;
  color: #00B7D3;
  text-decoration: underline;

}

.discussion-header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 8%;
}


.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #E2E2E2;
  padding:5%;
  justify-content: space-between;
}

.movie-list div{
  flex-basis: 46.25%;
  margin:1% 1% 4% 1%;
  padding: 0;
}

.movie-title a {
  font-size: 2em;
  color: #00B7D3;
  text-decoration: underline;
}

.movie-posters {
  width: 100%;
  height: 525px;
  padding: 0;
  margin: 0;
}

.poster1 {
  background-image: url('../images/great-train-poster.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.poster2 {
  background-image: url('../images/bicycle-thief-poster.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.poster3 {
  background-image: url('../images/nosferatu-poster.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.poster4 {
  background-image: url('../images/metropolis-poster.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.list {
  margin: 0;
  padding: 0;
}

.attendance {
  font-size: 1.75em;
  font-weight: bold;
  padding: 4% 0;
}

/*-----------------------------
Calendar Adjustments
------------------------------*/
.calendar-container {
  background-color:#0B1942;
  margin: 0;
  padding: 4% 0;
}

.div-city ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.cal-day {
  background-color: #fff;
  flex-basis: 13.85%;
  height: 125px;
  margin: .25%;
  display: flex;
  flex-direction: column;
}

.cal-day li {
  background-color: #0B1942;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  width: 55%;
  /*height: 62.5px;*/
  text-align:center;
  padding: 15% 2%;
}

.cal-day:nth-child(7n+1) {
  margin-left: 0;
}
.cal-day:nth-child(7n) {
  margin-right: 0;
}

/*-----------------------------
Join Form Sheet
------------------------------*/
.profile-pic {
  background-image: url('../images/profile-placeholder.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 85vw;
  height: 85vw;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.info-block {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.personal_info {
  flex-basis: 100%;
  display: flex;
}

.personal_info label, .personal_info input {
  flex-basis: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
}
